.head{
    background-color: #0099cc;
    height: 200px;
    width: 100%;
}

.main{
    background-color:transparent;
    box-shadow: 0em 0.2em 0.2em black;
    height: 100px;
    width: fit-content;
}

.logo_head{
    height: 150px;
    position: fixed;
    top: 3%;
    left: 10%;
    
}
